body{
	background-color: #796E4B;
  margin: 0;
  padding: 0;
}

.center {
  display: block;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
li{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  color: #08b2c9;
  font-size: inherit;
}

h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #5a372d;
  font-size: 35px;
}

h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5a372d;
  font-size: 35px;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
	margin: 0;
  margin-bottom: 50px;
  padding: 0;
}
nav ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li:first-child{
  padding-left: 15px;
  padding-right: 15px;
}

nav li {
  float: left;
}

nav li a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #111;
}

section {
  margin-left: 4%;
  margin-right: 4%;
  padding: 1%;
  background-color: #5d5f5f;
  border-radius: 50px;
}
article{
  background-color: #a7a7a7;
  margin: 1%;
  padding: 1%;
  border-radius: 50px;
}
article section{
  margin: 1%;
  padding: 0.3%;
}

footer {
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  width: 100%;
}